body {
    background-image: url(../../img/rutinas/fondodifavanzado.png);
    image-resolution: 400px; 
}
.logo { 
    border-radius: 20%;
}
a:hover{
    opacity: 0.6;
    box-shadow: 5px 5px 5px rgba(196, 9, 146, 0.941);
}